# TI_HDC temperature and humidity sensor configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config TI_HDC
	bool "Texas Instruments Temperature and Humidity Sensor (e.g. HDC1008)"
	default y
	depends on DT_HAS_TI_HDC_ENABLED
	select I2C
	help
	  Enable driver for TI temperature and humidity sensors.

config TI_HDC_INIT_PRIORITY
	int "Initialization priority"
	default 91
	help
	  Initialization priority for the TI HDC driver. This has to have a
	  higher value than other sensors because the TI_HDC device needs
	  10-15 ms to power up.
